<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PostMvc.PostMvc.user.usersMapper">


    <!-- 사용자 ResultMap -->
    <resultMap id="userResultMap" type="com.PostMvc.PostMvc.domain.UsersVo">
        <id property="userId" column="USER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="tel" column="TEL"/>
        <result property="email" column="EMAIL"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
    </resultMap>

    <!-- 사용자 등록 -->
    <insert id="create" parameterType="com.PostMvc.PostMvc.domain.UsersVo" useGeneratedKeys="true" keyProperty="userId">
        <![CDATA[
        INSERT INTO USERS (
            USERNAME,
            PASSWORD,
            TEL,
            EMAIL
        ) VALUES (
                     #{username},
                     #{password},
                     #{tel},
                     #{email}
                 )
        ]]>
    </insert>

    <!-- 사용자 보기 -->
    <select id="read" resultMap="userResultMap">
        <![CDATA[
        SELECT
            USER_ID,
            USERNAME,
            TEL,
            EMAIL,
            PASSWORD,
            CREATED_AT,
            UPDATED_AT
        FROM
            USERS
        WHERE
            1 = 1
        ]]>
        <if test="userId != null">
            AND USER_ID = #{userId}
        </if>
        <if test="username != null">
            AND USERNAME = #{username}
        </if>
        <if test="tel != null">
            AND TEL = #{tel}
        </if>
        <if test="email != null">
            AND EMAIL = #{email}
        </if>
    </select>



    <!-- 사용자 수정 -->
    <update id="update">
        <![CDATA[
        UPDATE
            USERS
        SET
            USERNAME = #{username},
            PASSWORD = #{password},
            TEL = #{tel},
            EMAIL = #{email}
        WHERE
            USER_ID = #{userId}
        ]]>
    </update>

    <delete id="delete" parameterType="com.PostMvc.PostMvc.domain.UsersVo" >
        DELETE FROM USERS WHERE USER_ID = #{userId}
    </delete>
    <!-- 인증 -->
    <update id="role">
        <![CDATA[
        UPDATE
            USERS
        SET
            ROLE = #{role}
        WHERE
            USER_ID = #{userId}

        ]]>
    </update>
</mapper>
